/* font, typography, colors, soft touches */

body {
    font-family: 'Roboto', sans-serif;
  }
  

header, .itemDark /* itemDark=techniques container on index */ {
    background: rgba(160, 133, 114, 1);
}

 /* About container on index */
.itemLight {
    background-color: rgba(255, 248, 245, 1);
}
.peachTitle, .peachParagraph {
    color: rgba(214, 129, 75, 1);
}

/* Techniques container on index */
.itemDark {
    background-color: rgba(160, 133, 114, 1);
}
.lightTitle, .lightParagraph {
    color: rgb(255, 255, 255);
}

.logo,.hamburger-menu, .navList a {
    color: rgba(240, 205, 196, 1);
}

.navList li {
    margin-right: 20px;
}

.featuredBackground, .featured {
    background-color: rgba(251, 219, 211, 1);
}

h1 {
    font-style: italic; 
}

h2 {
    font-size: 20px;
}
.featuredItem {
    background-color: white;
}

.buttonContainer {
    background-color: rgba(231, 169, 129, 1);
}

.button {
    color: white;
}

.footerText {
    color: rgba(240, 205, 196, 1);
}

/* License to use two images from Freepik */
.license {
    color: rgba(240, 205, 196, 1);
}

footer {
    background: rgba(160, 133, 114, 1);
}