/* font, typography, colors, soft touches */

header {
    background: rgba(160, 133, 114, 1);
}

 /* About container on index */
.itemLight {
    background-color: rgba(255, 248, 245, 1);
}
.peachTitle {
    color: rgba(214, 129, 75, 1);
}
.peachParagraph {
    color: rgba(214, 129, 75, 1);
}

/* Techniques container on index */
.itemDark {
    background-color: rgba(160, 133, 114, 1);
}
.lightTitle {
    color: rgb(255, 255, 255);
}
.lightParagraph {
    color: rgb(255, 255, 255);
}

.logo {
    color: rgba(240, 205, 196, 1);
}

.hamburger-menu {
    color: rgba(240, 205, 196, 1);
}

li {
    color: rgba(240, 205, 196, 1);
}

.featuredBackground {
    background-color: rgba(251, 219, 211, 1);
}

.featured { /* background behind "featuredItems" (projects) to make them center align without pink background being as small */
    background-color: rgba(251, 219, 211, 1);
}

.featuredItem {
    background-color: white;
}

.buttonContainer {
    background-color: rgba(231, 169, 129, 1);
}

.button {
    color: white;
}

.footerText {
    color: rgba(240, 205, 196, 1);
}

/* License to use two images from Freepik */
.license {
    color: rgba(240, 205, 196, 1);
}

footer {
    background: rgba(160, 133, 114, 1);
}