/* Flex, grid, margins, padding */

body {
    margin: 0;
    padding-top: 90px; /* So content don´t dissapear behind header */
}

.logo {
    max-width: 285px;
    max-height: 50px;
    margin-left: 10px; 
}

header {
    position: fixed; /* Fix the header position */
    top: 0; /* Stick the header to the top */
    width: 100%; /* Make the header full-width */
    z-index: 1000; /* Ensure the header stays on top of other elements */

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header a {
    text-decoration: none;
    color: black;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.logoHeader {
    margin-right: auto;
    padding: 10px;
}

.flex-gap { 
    display: inline-flex;
    flex-wrap: wrap;
}

.li {
    list-style: none;
    display:inline-block;
    padding: 10px;
}

.navList {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.hamburger-menu {
    display: none;
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
}

.containerIndex {
    display: flex;
    max-width: 800px;
    margin: 10px auto;
}

.itemImage {
    width: 400px;
    height: 400px;
}

.peachTitle {
    text-align: center;
}

.peachParagraph {
    text-align: left;
}

.lightTitle {
    text-align: center;
}

.itemLight {
    padding: 30px;
}

.itemDark {
    padding: 30px;
}

.lightParagraph {
    text-align: left;
}

.featured {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    max-width: 765px;
    margin: 0 auto;
}

.featuredImage {
    width:100%;
    height: auto;
}

.featuredItem {
    text-align: center; /* Center the contents within each featuredItem */
    max-width: 320px;
    padding: 20px;
    box-sizing: border-box;    
    margin: 0 10px 0 0; /* Space between featuredItem (the projects) */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonContainer {
    margin-top: 10px; /* Add some spacing between the image and the button */
    max-width: 100px;
    padding: 10px;
    border-radius: 3px;
}

.license {
    text-align: center;
}

.footerText {
    padding: 20px;
    text-align: center;
}