/* Flex, grid, margins, padding */

body {
    margin: 0;
    padding-top: 90px; /* So content don´t dissapear behind header */
}

html {
    scroll-behavior: smooth;
  }

.logo {
    max-width: 285px;
    max-height: 50px;
    margin-left: 10px; 
}

header {
    position: fixed; /* Fix the header position */
    top: 0; /* Stick the header to the top */
    width: 100%; /* Make the header full-width */
    z-index: 1000; /* Ensure the header stays on top of other elements */

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header a {
    text-decoration: none;
    color: black;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.logoHeader {
    margin-right: auto;
    padding: 10px;
}

.flex-gap { 
    display: inline-flex;
    flex-wrap: wrap;
}

nav {
    background: rgba(160, 133, 114, 1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.li {
    list-style: none;
    display:inline-block;
    padding: 10px;
}

.navList li {
    margin-right: 20px;
  }

.navList {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.hamburger-menu {
    display: none;
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
}

.containerIndex {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: 10px auto;
}

.itemImage {
    width: 400px;
    height: 400px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.peachTitle, .lightTitle {
    text-align: center;
}

.peachParagraph, .lightParagraph {
    text-align: left;
}

.itemLight, .itemDark {
    padding: 30px;
}

.projectsTitle {
    text-align: center;
    background-color: rgba(251, 219, 211, 1);
    padding: 20px;
  }

.featured {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    max-width: 765px;
    margin: 0 auto;
}

.featuredImage {
    width:100%;
    height: auto;
}

.featuredItem {
    text-align: center; /* Center the contents within each featuredItem */
    max-width: 320px;
    padding: 20px;
    box-sizing: border-box;    
    margin: 0 10px 0 0; /* Space between featuredItem (the projects) */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.buttonContainer {
    margin: 10px 0 0 0;
    max-width: 100px;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
}

.footerText, .license {
    padding: 20px;
    text-align: center;
}

.githubLogo {
    width: 50px;
}